.DS_Store
services/pushover.cfg
services/weather.cfg.old
things/pushover.things
things/telegram.things
things/openweathermap.things
things/solaredge.things
things/pushover.*
things/telegram.*
things/openweathermap.*
things/solaredge.*
things/homeconnect.things
pushover.*
telegram.*
openweathermap.*
solaredge.*
weather.*
weather.*.*
certbot/
backup/
nodered/
.claude/